* {
    /* outline: 2px solid blue; */
    box-sizing: border-box;
}

body {
    margin-left:auto;
    margin-right:auto;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h3 {
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(255, 164, 164);
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 400px;
    padding: 50px;
    padding-bottom: 70px;
    margin: 0;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    flex: 1;
}

.hero-left {
    margin-bottom: -10px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.hero h1,
.hero p,
.hero button {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: -10px;
}

.hero p {
    font-size: 18px;
}

.hero-img {
    background-color: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero img {
    width: 450px;
}

.hero button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    border: 0;
    align-self: flex-start;
    background-color: #3882f6;
    color: white;
    border-radius: 5px 5px;
}

.hero button:hover {
    background-color: hwb(217 11% 23%);
    cursor: pointer;
}

.info {
    height: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2 {
    font-size: 36px;
}

.container {
    flex: 1;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 5px;
}

.container img {
    outline: 3px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 5px 5px;
    margin: 5px;
}

.text {
    text-align: center;
    color: rgb(87, 85, 85);
}

.quote {
    height: 500px;
    padding-top: 20px;
    background-color: #e5e7eb;
    color: #1f2937;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quote h3 {
    flex: 1;
    width: 40rem;
    height: 15rem;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
}

.quote p {
    margin-top: 0;
    height: 5rem;
    width: 30rem;
    font-size: 26px;
    font-weight: 800;
    margin-left: 45rem;
}

.cta {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    height: 7rem;
    width: 50rem;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px 10px;
}

.cta-left {
    padding: 0;
    margin: 0;
}

.cta h3{
    font-size: 26px;
    margin-bottom: -10px;
}

.cta p {
    font-size: 18px;
    margin-bottom: 0;
}

.cta button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px 20px;
    border: 0;
    align-self: center;
    background-color: #3882f6;
    color: white;
    border-radius: 5px 5px;
    outline: 1px solid white;
}

.cta button:hover {
    background-color: hwb(217 11% 23%);
    cursor: pointer;
}

.footer {
    height: 60px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: white;
}